main{
    section{
        margin-top: 119px;
    }
}
.banner-top{
    margin-top: 0;
}
.introduce{
    .text{
        .heading{
            font-family: 'Carattere', cursive;
            font-size: 48px; 
            color: #A4A4A4;
            font-weight: 400; 
            line-height: 23px;
            margin-bottom: 22px;
        }
        h2{
            color: $primary;
        }
        p{
            color: #525252;
            font-weight: 300; 
            line-height: 1.75;
            &:not(:last-child){
                margin-right: 30px;
            }
        }
        .box-description{
            border-left: 2px solid $green-1;
            padding-left: 27px;
            padding-top: 33px;
            .description{
                margin-bottom: 39px;
            }
        }
    }
}
.product-hataco{
    .heading-hataco{
        margin-bottom: 12px;
    }
}
.product-hataco-slider{
    .swiper-wrapper{
        align-items: center;
    }
    .swiper-slide{
        &.swiper-slide-next{
            .img{
                height: 210px;
                transform: scale(1.1);
                img{
                    object-fit: contain;
                }
            }
        }
    }
}