.header-top{
  background-color: $green-light;
  padding: 7px 0;
  .text{
    font-weight: 500;
  }
  .user-f{
    li{
      position: relative;
      padding: 0 12px;
      display: flex;
      align-items: center;
      &:first-child{
        padding-left: 0;
      }
      &:not(:last-child){
        &::after{
          content: '|';
          color: $green-2;
          position: absolute;
          right: -4px;
        }
      }
      svg{
        margin-right: 6px;
      }
      span{
        font-size: 0.938rem;
        color: $grey-7;
        letter-spacing: -0.45px; 
        font-weight: 400;
      }
    }
  }
  .social-f{
    li{
      &:not(:last-child){
        margin-right: 6px;
      }
    }
  }
}
.header-middle{
  padding: 15px 0 21px;
  .search-product{
    position: relative;
    input{
      width: 549px;
      height: 45px; 
      border-radius: 50px;
      border: 1px solid $grey-border;
      background: $light; 
      padding: 12px 24px;
      outline: none;
    }
    .btn-search{
      width: 76px; 
      border: none;
      position: absolute;
      right: 0;
      height: 100%;
      transition: all 0.3s;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .contact{
    .list-icon{
      .item{
        margin-right: 12px;
      }
    }
    .cart{
      svg{
        transform: scale(1.11);
      }
    }
    .call{
      svg{
        path{
          fill: $primary;
          &:first-of-type{
            stroke: $primary;
            fill: $light;
          }
        }
        circle{
          stroke: $primary;
        }
      }
    }
    .text{
      p{
        color:$primary;
        font-weight: 600; 
        margin-bottom: 0;
        line-height: 1.4;
      }
      .tel{
        font-size: 1.375rem;
        letter-spacing: 2.2px; 
        font-weight: 600;
        line-height: 1.1;
        color: $red-2;
      }
    }
  }
}