$primary: #00C7F2;
$primary-light: #f0f6ff;
$primary-grey: #6c798d;
$secondary: #5d6065;
$secondary-light: #efefef;
$warning: #f9a322;
$dark: #3b3b3b;
$black: #000;
$success: #00af07;
$border-color: #ced4da;
// new variable
$light: #ffffff;
$main-black: #2E2E2E;
$main-01: #0A2349;
$main-02: #003E83;
$main-03: #1E5AB2;
$main-04: #00C7F2;
$main-05: #F9FAFE;
$main-06 : #F1F9FF;
$main-07: #062249;
$main-light: #EBF5FC;
$sub-main-error: #F93232;
$sub-main-validation: #FFB82E;
$sub-main-success: #31C074;
$sub-main-01: #09A4E8;
$sub-main-light: #9AB7D8;
$gray-01: #50555B;
$gray-02: #868D95;
$gray-03: #C6CBD0;
$gray-04: #F0F0F0;